---
import Layout from "@/layouts/Layout.astro";
import Div from "@/components/Div.astro";
import Row from "@/components/Row.astro";
import Col from "@/components/Col.astro";
import Lang from "@/components/Lang.astro";
import Link from "@/components/Link.astro";
import Image from "astro/components/Image.astro";

interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<Layout title="OnTract Demo">
  <Div class="mx-auto max-w-[800px]">
    <Div class="bg-blue-950">
      <!-- no padding allowed on a, p, div -->
      <a href="#" class="py-2 inline-block w-full text-center text-xs text-white no-underline">
        Email not loading correctly? Click here to view in browser
      </a>
    </Div>

    <Div>
      <img
        src={"https://amgen-emails.s3.ca-central-1.amazonaws.com/OnTract_Logo.png"}
        alt={"OnTract"}
        class="w-full object-contain"
      />
    </Div>

    <Div class="bg-blue-100">
      <p class="max-w-lg mx-auto text-blue-900 text-center py-4">
        This Other Learning Activity will provide gastroenterologists with practical knowledge on new IBD advances
      </p>
    </Div>

    <Div class="bg-blue-950 py-6">
      <p class="max-w-lg mx-auto text-white text-center font-bold">
        "Optimizing Patient Care: Practical Insights on the Treat-to-Target Approach in IBD"
      </p>

      <p class="mt-6 max-w-lg mx-auto text-white text-center font-bold">
        Join us as we discuss the latest on implementing treat-to-target approaches in IBD.
      </p>
    </Div>

    <Div>
      <p class="mt-10">After participating in the program, attendees will be able to:</p>
    </Div>

    <Row>
      <Col class="w-1/2 bg-blue-100">
        <p>I am left content</p>
      </Col>
      <Col class="w-1/2 border border-red-500 bg-red-100">
        <Row>
          <Col class="w-3/12 bg-red-200">I may be an image or some</Col>
          <Col class="w-8/12 bg-red-300">Yeah, me too</Col>
        </Row>
      </Col>
    </Row>
  </Div>
</Layout>
