---
import type { ComponentProps } from "@/utils/types";
import Layout from "@/layouts/Layout.astro";
import Row from "@/components/Row.astro";
import Col from "@/components/Col.astro";
import Link from "@/components/Link.astro";
import Div from "@/components/Div.astro";

interface Props extends ComponentProps {}

const { lang } = Astro.props;
---

<Layout lang={lang} subject="Welcome to Astro, Ben." previewText="">
  <Div>
    <Row>
      <Col class="bg-gray-100 border-t-4-yellow-500 border-l-4-yellow-500">Hello</Col>
      <Col class="bg-gray-200 w-[500px]">
        <h1>Welcome to Astro</h1>
        <p>This is a simple Astro starter template. It includes a few common features to help you get started.</p>
        <p>
          <!-- <Link href="https://docs.astro.build/" target="_blank">Read the Astro documentation</Link> -->
        </p>
      </Col>
      <Col class="bg-gray-300 border-t-4-dashed-black">Here I am</Col>
    </Row>
  </Div>
</Layout>
