---
import type { ComponentProps } from "@/utils/types";
import Layout from "@/layouts/Layout.astro";
import Row from "@/components/Row.astro";
import Col from "@/components/Col.astro";
import Link from "@/components/Link.astro";
import Div from "@/components/Div.astro";
import Spacer from "@/components/Spacer.astro";
import Image from "@/components/Image.astro";
import Logo from "@/assets/images/empaveli-logo.png";
import SobiLogo from "@/assets/images/sobi-logo.png";

interface Props extends ComponentProps {}

const { lang } = Astro.props;
---

<Layout lang={lang} subject="Welcome to Astro, Ben." previewText="">
  <Link href="#" class="bg-purple-950/80 text-center no-underline text-white w-full py-2">
    Email not loading correctly? Click here to view in your browser
  </Link>

  <Image src={Logo} alt="Empaveli" class="pt-14 pb-8 h-24 bg-red-100 object-contain object-left text-left" />

  <Div class="bg-slate-200 px-12 py-4 text-left">
    <h1 class="text-rose-500 uppercase font-semibold text-3xl -tracking-[1px]">Now Reimbursed</h1>
    <h2 class="text-gray-600 font-semibold text-xl">
      through provincial formulary in select provinces (restrictions may apply)
    </h2>
  </Div>

  <Div class="px-12 py-6">
    <p class="text-gray-700">
      Sobi Canada, Inc. is proud to announce that EMPAVELI is now reimbursed through the provincial formularies (in
      <span class="font-bold">British Columbia</span>, <span class="font-bold">Alberta</span>, and&nbsp;<span
        class="font-bold">Quebec</span
      >)
    </p>
  </Div>

  <Div class="bg-slate-500 py-5 px-12">
    <Row>
      <Col class="w-3/5">
        <h3 class="text-white font-bold text-xl text-center -tracking-[1px]">
          Visit your provincial formulary for complete coverage criteria.
        </h3>
      </Col>
    </Row>

    <Div class="py-4">
      <p class="text-white font-semibold text-lg">
        Contact your local Sobi representative for more information: [name placeholder] at [email placeholder]
      </p>
    </Div>
  </Div>

  <Div class="px-12 py-12">
    <p no-widows class="py-2">
      <sup>Pr</sup>EMPAVELI<sup>TM</sup> (pegcetacoplan) is a complement inhibitor indicated for the treatment of adult patients
      with paroxysmal nocturnal hemoglobinuria (PNH) who have an inadequate response to, or are intolerant of, a C5 inhibitor.
    </p>

    <p no-widows class="py-2">
      Please consult the EMPAVELI Product Monograph at sobi.ca/EMPAVELI_ PM_EN for important information relating to
      contraindications, warnings, precautions, adverse reactions, interactions, dosing, and conditions of clinical use.
    </p>

    <p no-widows class="py-2">
      The Product Monograph is also available by calling our medical department at 1-866-773-5274.
    </p>

    <p no-widows class="pt-6">
      <span class="font-bold uppercase">REFERENCE:</span> EMPAVELI Product Monograph, Swedish Orphan Biovitrum AB (publ),
      Inc. December 7, 2022.
    </p>
  </Div>

  <Div class="pb-8">
    <Row>
      <Col class="w-2/3 text-left">
        <Image src={Logo} alt="Empaveli" class="h-20 bg-red-100 object-contain object-left text-left" />

        <p class="text-slate-700 text-xs py-4">Empaveli is a trademark of Swedish Orphan Biovitrum AB (publ).</p>
        <p class="text-slate-700 text-xs pb-4">&copy; 2024 Sobi Canada, Inc. All rights reserved.</p>
        <p class="text-slate-700 text-xs pb-4">PP-XXXXX 01/24</p>
      </Col>

      <Col class="bg-gray-100 text-right">
        <Image src={SobiLogo} alt="Sobi" class="h-20 bg-red-100 object-contain text-right" />
      </Col>
    </Row>
  </Div>
</Layout>
