---
import { twMerge } from "tailwind-merge";
import {
  findTailwindClassForCssProperty,
  findValueInPxForCssProperty,
  findUrlForCssProperty,
  findValueForCssProperty,
  findBorderValueForCssProperty,
  calcPx,
} from "@/utils/utils";

interface Props {
  class?: string;
}

let { class: classname = "" } = Astro.props;

const [widthClass, classWithoutW] = findTailwindClassForCssProperty("width", classname);
classname = classWithoutW;
console.log(widthClass);
---

<th class={twMerge("w-full col", widthClass.length > 0 ? `!${widthClass}` : "")}>
  <table class={twMerge("w-full", classname)}>
    <tbody>
      <th>
        <slot />
      </th>
      <th class="expander"></th>
    </tbody>
  </table>
</th>
