---
import { twMerge } from "tailwind-merge";
import { pop } from "@/utils/utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const classList = (className || "").split(" ").map((c) => c.trim());

// width is of the format w-<number from 1 to 12>/<number from 1 to 12> or w-<number from 1 to 12>
const width = pop(classList, /w-\d+\/\d+|w-\d+/);

const rest = classList.join(" ");
---

<th class={twMerge("w-full col", width)}>
  <table class={twMerge("w-full", rest)}>
    <tbody>
      <th>
        <slot />
      </th>
      <th class="expander"></th>
    </tbody>
  </table>
</th>
