---
import { twMerge } from "tailwind-merge";
import {
  findTailwindClassForCssProperty,
  findValueInPxForCssProperty,
  findUrlForCssProperty,
  findValueForCssProperty,
  findBorderValueForCssProperty,
  calcPx,
} from "@/utils/utils";

interface Props {
  class?: string;
}

let { class: classname = "" } = Astro.props;

let [widthClass, classWithoutW] = findTailwindClassForCssProperty("width", classname);
// widthClass = widthClass.length > 0 ? `!${widthClass}` : "";
// if (widthClass.length > 0) {
//   console.log("widthClass", widthClass);
// }

const [textAlignClass, classWithoutTextAlign] = findTailwindClassForCssProperty("text-align", classWithoutW);
---

{/* TODO: Widths! */}

<th class={`${twMerge("w-full col", widthClass)}`}>
  <table class={twMerge("w-full", classname)}>
    <tbody>
      <th>
        <slot />
      </th>
      {/* <th class="expander"></th> */}
    </tbody>
  </table>
</th>
