---
import { twMerge } from "tailwind-merge";
import { pop } from "@/utils/utils";

interface Props {
  class?: string;
  id?: string;
}

const { class: className, id } = Astro.props;
const classList = (className || "").split(" ").map((c) => c.trim());

// padding regex is p-<number from 1 to 12>, px-<number from 1 to 12>, py-<number from 1 to 12>, pt-<number from 1 to 12>, pr-<number from 1 to 12>, pb-<number from 1 to 12>, pl-<number from 1 to 12>
const padding = pop(classList, /(p|px|py|pt|pr|pb|pl)-\d+/);

const tableProps: Record<string, string> = {};
if (id) {
  tableProps.id = id;
}

const rest = classList.join(" ");
---

<table {...tableProps} class={twMerge("w-full", rest)}>
  <tbody>
    <tr>
      <td align="center" class={twMerge(padding)}>
        <slot />
      </td>
    </tr>
  </tbody>
</table>
