---
import { twMerge } from "tailwind-merge";
import { pop } from "@/utils/utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
const classList = (className || "").split(" ").map((c) => c.trim());

// padding regex is p-<number from 1 to 12>, px-<number from 1 to 12>, py-<number from 1 to 12>, pt-<number from 1 to 12>, pr-<number from 1 to 12>, pb-<number from 1 to 12>, pl-<number from 1 to 12>
const padding = pop(classList, /(p|px|py|pt|pr|pb|pl)-\d+/);

const rest = classList.join(" ");
---

<table align="center" class={twMerge("w-full", rest)} cellpadding="0" cellspacing="0" border="0" role="presentation">
  <tbody>
    <tr>
      <td align="center" class={twMerge(padding)}>
        <slot />
      </td>
    </tr>
  </tbody>
</table>
