---
import { twMerge } from "tailwind-merge";
import { pop } from "@/utils/utils";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;

const classList = (className || "").split(" ").map((c) => c.trim());

const rest = classList.join(" ");
---

<table class={twMerge("w-full", rest)}>
  <tbody>
    <tr class="row">
      <slot />
    </tr>
  </tbody>
</table>
