---
interface Props {
  px: string;
  hideOnSm?: boolean;
  hideOnLg?: boolean;
}

const { px, hideOnSm, hideOnLg } = Astro.props;
---

<table class={`spacer ${hideOnLg ? "hide-for-large" : hideOnSm ? "show-for-large" : ""}`}>
  <tbody>
    <tr>
      <td height={px} style={`font-size:${px}px;line-height:${px}px;`}>&nbsp;</td>
    </tr>
  </tbody>
</table>
