html {
  font-family: Arial, Verdana, Trebuchet MS, Tahoma, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  webkit-font-smoothing: antialiased;
  word-break: break-word;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
p {
  font-weight: 400;
}
img {
  max-width: 100%;
  vertical-align: middle;
  line-height: 1;
}
*, ::before, ::after {
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
}
::backdrop {
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
}
.inline-block {
  display: inline-block;
}
.hidden {
  display: none;
}
.border-t-4-dashed-black {
  border-top: 4px dashed #000;
}
.border-t-4-yellow-500 {
  border-top: 4px solid #eab308;
}
.border-l-4-yellow-500 {
  border-left: 4px solid #eab308;
}
.border-gray-500 {
  border: 1px solid #6b7280;
}
.border-gray-700 {
  border: 1px solid #374151;
}
.border-red-500 {
  border: 1px solid #ef4444;
}
.border-green-500 {
  border: 1px solid #22c55e;
}
.border-blue-200 {
  border: 1px solid #bfdbfe;
}
.border-indigo-500 {
  border: 1px solid #6366f1;
}
.border-violet-500 {
  border: 1px solid #8b5cf6;
}
.w-1\/3 {
  width: 33.333333%;
}
.w-\[500px\] {
  width: 500px;
}
.w-\[700px\] {
  width: 700px;
}
.w-full {
  width: 100%;
}
.bg-gray-100 {
  background-color: #f3f4f6;
}
.bg-gray-200 {
  background-color: #e5e7eb;
}
.bg-gray-300 {
  background-color: #d1d5db;
}
.bg-green-500 {
  background-color: #22c55e;
}
.bg-\[url\(\'\<url\>\'\)\] {
  background-image: url('<url>');
}
.bg-\[url\(\'https\:\/\/letsenhance\.io\/static\/8f5e523ee6b2479e26ecc91b9c25261e\/1015f\/MainAfter\.jpg\'\)\] {
  background-image: url('https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg');
}
.py-20 {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* All of these will be inlined automagically! */
/* one item */
.col:nth-child(1):nth-last-child(1) {
  width: 100%;
}
/* two items */
.col:nth-child(1):nth-last-child(2),
.col:nth-child(2):nth-last-child(1) {
  width: 50%;
}
/* three items */
.col:nth-child(1):nth-last-child(3),
.col:nth-child(2):nth-last-child(2),
.col:nth-child(3):nth-last-child(1) {
  width: 33.3333%;
}
/* four items */
.col:nth-child(1):nth-last-child(4),
.col:nth-child(2):nth-last-child(3),
.col:nth-child(3):nth-last-child(2),
.col:nth-child(4):nth-last-child(1) {
  width: 25%;
}
/* five items */
.col:nth-child(1):nth-last-child(5),
.col:nth-child(2):nth-last-child(4),
.col:nth-child(3):nth-last-child(3),
.col:nth-child(4):nth-last-child(2),
.col:nth-child(5):nth-last-child(1) {
  width: 20%;
}
/* six items */
.col:nth-child(1):nth-last-child(6),
.col:nth-child(2):nth-last-child(5),
.col:nth-child(3):nth-last-child(4),
.col:nth-child(4):nth-last-child(3),
.col:nth-child(5):nth-last-child(2),
.col:nth-child(6):nth-last-child(1) {
  width: 16.6667%;
}
/* seven items */
.col:nth-child(1):nth-last-child(7),
.col:nth-child(2):nth-last-child(6),
.col:nth-child(3):nth-last-child(5),
.col:nth-child(4):nth-last-child(4),
.col:nth-child(5):nth-last-child(3),
.col:nth-child(6):nth-last-child(2),
.col:nth-child(7):nth-last-child(1) {
  width: 14.2857%;
}
/* eight items */
.col:nth-child(1):nth-last-child(8),
.col:nth-child(2):nth-last-child(7),
.col:nth-child(3):nth-last-child(6),
.col:nth-child(4):nth-last-child(5),
.col:nth-child(5):nth-last-child(4),
.col:nth-child(6):nth-last-child(3),
.col:nth-child(7):nth-last-child(2),
.col:nth-child(8):nth-last-child(1) {
  width: 12.5%;
}
/* nine items */
.col:nth-child(1):nth-last-child(9),
.col:nth-child(2):nth-last-child(8),
.col:nth-child(3):nth-last-child(7),
.col:nth-child(4):nth-last-child(6),
.col:nth-child(5):nth-last-child(5),
.col:nth-child(6):nth-last-child(4),
.col:nth-child(7):nth-last-child(3),
.col:nth-child(8):nth-last-child(2),
.col:nth-child(9):nth-last-child(1) {
  width: 11.1111%;
}
/* ten items */
.col:nth-child(1):nth-last-child(10),
.col:nth-child(2):nth-last-child(9),
.col:nth-child(3):nth-last-child(8),
.col:nth-child(4):nth-last-child(7),
.col:nth-child(5):nth-last-child(6),
.col:nth-child(6):nth-last-child(5),
.col:nth-child(7):nth-last-child(4),
.col:nth-child(8):nth-last-child(3),
.col:nth-child(9):nth-last-child(2),
.col:nth-child(10):nth-last-child(1) {
  width: 10%;
}
/* eleven items */
.col:nth-child(1):nth-last-child(11),
.col:nth-child(2):nth-last-child(10),
.col:nth-child(3):nth-last-child(9),
.col:nth-child(4):nth-last-child(8),
.col:nth-child(5):nth-last-child(7),
.col:nth-child(6):nth-last-child(6),
.col:nth-child(7):nth-last-child(5),
.col:nth-child(8):nth-last-child(4),
.col:nth-child(9):nth-last-child(3),
.col:nth-child(10):nth-last-child(2),
.col:nth-child(11):nth-last-child(1) {
  width: 9.0909%;
}
/* twelve items */
.col:nth-child(1):nth-last-child(12),
.col:nth-child(2):nth-last-child(11),
.col:nth-child(3):nth-last-child(10),
.col:nth-child(4):nth-last-child(9),
.col:nth-child(5):nth-last-child(8),
.col:nth-child(6):nth-last-child(7),
.col:nth-child(7):nth-last-child(6),
.col:nth-child(8):nth-last-child(5),
.col:nth-child(9):nth-last-child(4),
.col:nth-child(10):nth-last-child(3),
.col:nth-child(11):nth-last-child(2),
.col:nth-child(12):nth-last-child(1) {
  width: 8.3333%;
}
@media (min-width: 0px) {
  .sm\:bg-red-100 {
    background-color: #fee2e2 !important;
  }
}
@media (min-width: 426px) {
  .lg\:bg-blue-200 {
    background-color: #bfdbfe !important;
  }
}
