html {
  font-family: Arial, Verdana, Trebuchet MS, Tahoma, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  webkit-font-smoothing: antialiased;
  word-break: break-word
}

h1 {
  font-size: 24px
}

h2 {
  font-size: 20px
}

h3 {
  font-size: 18px
}

p {
  font-weight: 400
}

img {
  max-width: 100%;
  vertical-align: middle;
  line-height: 1
}

*, ::before, ::after {
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

::backdrop {
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  
}

.inline-block {
  display: inline-block
}

.hidden {
  display: none
}

.border-t-4-dashed-black {
  border-top: 4px dashed #000
}

.border-t-4-yellow-500 {
  border-top: 4px solid #eab308
}

.border-b-4-dashed-black {
  border-bottom: 4px dashed #000
}

.border-l-4-yellow-500 {
  border-left: 4px solid #eab308
}

.border-4-dashed-blue-500 {
  border: 4px dashed #3b82f6
}

.w-\[500px\] {
  width: 500px
}

.w-\[800px\] {
  width: 800px
}

.w-full {
  width: 100%
}

.bg-gray-100 {
  background-color: #f3f4f6
}

.bg-gray-200 {
  background-color: #e5e7eb
}

.bg-gray-300 {
  background-color: #d1d5db
}

/* 
These are our Foundation default styles
https://get.foundation/emails/docs/wrapper.html
*/
